

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* --------------------------
   Mini-logos on the top-right of the navbar
   -------------------------- */
.navbar .minilogo{
  margin-top: 8px;
}
.navbar .minilogo img{
  margin-left: 12px;
}

/* --------------------------
   The header space for title and abstract of each tool
   -------------------------- */
.splash-unit{
  margin-bottom: 30px;
  min-height: 90px;
}

.splash-unit .image{
  display: inline-block;
  margin-right: 10px;
}

.splash-unit .title{
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
  
  display: inline-block;
  padding-bottom: 10px;
    vertical-align: bottom;
}

.splash-unit .abstract {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: #999999;

  margin-top: 32px;
}
