
body{
	background-color:#F1F2E1;
	font-family: 'Open Sans', sans-serif;
}
header, footer{
	color:#73112A;
}
header{
	margin-bottom: 50px;
}
h1, h2, h3, h4, h5, h6{
	text-shadow: 2px 2px 2px #ebb;
}

nav{
}
#main{
	color:#73112A;
}
a{
	color:#3D656D;
	text-decoration:none;
}


#dataPreview{
	width: 100%;
	height: 200px;
	overflow:scroll;
}

#dataPreview table{
	font-size: 10px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
#dataPreview table tbody td{
	padding:6px;
    text-align:center;
    background-color:#F9F9F9;
    border: 2px solid #EEEEEE;
    color:#666;
    text-shadow:1px 1px 1px #fff;

}


#progress_bar {
	margin: 10px 0;
	padding: 3px;
	border: 1px solid #000;
	font-size: 14px;
	clear: both;
	opacity: 0;
	-moz-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	-webkit-transition: opacity 1s linear;
}
#progress_bar.loading {
	opacity: 1.0;
}
#progress_bar_message{
	background-color: #99ccff;
	height: auto;
	width: 0;
}
#progress_bar_message.fail_message {
	background-color: #ffdddd;
	height: auto;
	width: 0;
}
#progress_bar_message.success_message {
	background-color: #99ffcc;
	height: auto;
	width: 0;
}

label {
    display: inline-block;
	margin-right: 8px;
}

/* Types of networks */
#network_type1{
	padding-right: 10px;
}
#network_type2, #network_type3, #network_type4{
	padding-left: 10px;
	padding-right: 10px;
}

/* Metadata check forms */
.metadata_check{
	overflow-y:scroll;
	height:100px;
	background-color:#F9F9F9;
    border: 1px solid #CCCCCC;
}